@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../font/Cormorant-Bold.oft');
}
@font-face {
font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf');
}
@keyframes headermoveDown{
	0% { 
		transform: translateY(-10px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.uniquire-page{
font-family: 'Poppins';
}
h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6,
.authentication-tab a,
.authentication-form form button{
  font-family: 'Cormorant-Bold';
}
a,p,li,span{
font-size:16px;
}
a{
text-decoration:none !important;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.overflow-hidden{
overflow: hidden;	
}
.opacity-0{
	opacity:0 !important;
}
.color-accent-1,a:hover,.funds-muiTabs li a.active{
color:#6C6663 !important;
}
.color-accent-2{
color:#8D8884 !important;
}
.color-accent-3,
.nft-item-title a:hover,
.collection-inner p a:hover{
color:#AEAAA5 !important;
}
.color-accent-4,
.authentication-tab a{
color:#4C4442 !important;
}
.color-accent-5{
color:#F3EFEC !important;
}
.uniquire-page .border-top{
border-top:2px solid #4C4442 !important;
}
.uniquire-page .border-bottom{
border-bottom:2px solid #4C4442 !important;	
}
.foreground-bg,
.authentication-tab a.active{
background-color:#4C4442 !important;
}
.main-bg{
background-color:#F3EFEC !important;
}
.btn.foreground-bg:hover,.btn.foreground-bg:focus{
background-color:#4C4442 !important;
opacity:.8;
}
.btn.main-bg:hover,.btn.main-bg:focus{
background-color:#F3EFEC !important;
opacity:.8;
}
.btn-primary:focus,.btn:focus,button:focus{
box-shadow:none !important;
}
.container{
max-width:1300px !important;
}
.w-40{
width:40% !important;	
}
.w-10{
width:10% !important;	
}
i.fa{
font-size:28px !important;
}
i.fa.fa-check-circle{
font-size:15px !important;	
}



.header{
box-shadow: 0 0 10px rgba(3,0,16,.8);
animation-duration: 1s;
background-color: #f3efec;
border-bottom:5px solid #AEAAA5;
}
.header .site-logo{
width:100%;
max-width:280px;	
}
.header.sticky-header{
animation-name: headermoveDown;
position: fixed !important;
z-index: 999999;
}
.header .mobile-menuBtn{
	margin-top:-5px;
}
header #authentication-section,header #funds-maintenance{
background: rgba(0,0,0, .5);
}
#authentication-section .authentication-form,#funds-maintenance .funds-body{
overflow-y: auto;
max-width: 500px;	
background-color: #f1f1f1;
}
.authentication-tab a.active{
color:#fff !important;
}
.authentication-form form input,.withdraw-form form input{
padding: 12px 15px;
box-shadow: 0px 0px 8px 0px #ddd;
}
.authentication-form form input:focus,
.withdraw-form form input:focus{
border:1px solid #4C4442 !important;
}
.authentication-form form button,
.withdraw-form .form-button button{
padding: 12px 15px;	
}
.payment-gateway-list ul li a {
border-radius: 8px;
background-color: #4C4442;
padding: 6px 15px;
min-height: 59px;
}
.payment-gateway-list .gateway-img {
width: 36px;
}
.withdraw-form .amount-symbol span {
    right: 18px;
    transform: translate(0%,-50%);
    font-size: 15px;
}
.item-details-section .item-buy-part{
padding: 35px 40px;
border-radius: 10px;
}
#countdown .count-col{
display:inline-block;
text-align:center;
margin-right:10px;
}
#countdown .count-col .number{
background: #4C4442;
padding: 8px 15px;
border-radius: 5px;	
color:#fff;
font-size:25px;
font-weight:bold;
margin-bottom:5px;
}
#countdown .count-col p{
margin-bottom:0px;	
}
.item-details-section .item-price img{
width:20px;
}
.item-details-section .item-price h6{
font-size: 22px;
font-weight: bold;
}
.item-price h6 .dollar{
font-weight: normal;
font-size: 15px;
}
.item-auction-btnArea button{
  font-family: 'Cormorant-Bold';
}
.item-desc-content .nav li a{
color:#212529;
}
.item-desc-content .nav a.active{
position:relative;
}

.item-desc-content .nav a.active::after,
.pills-tablist .nav a.active::after{
content: "";
left: 50%;
transform: translateX(-50%);
border-style: solid;
position: absolute;
border-width: 0 12px 15px 12px;		
border-color: transparent transparent #4C4442 transparent;
}
.item-desc-content .nav a.active::after{
bottom: -19px;	
}
.pills-tablist .nav a.active::after{
bottom: -18px;	
}
.activity-list-content .seacrh-bar,.activity-list-content select{
border-bottom-right-radius: calc(0.25rem - 1px);
border-bottom-left-radius: calc(0.25rem - 1px);
border-top-left-radius: calc(0.25rem - 1px);
border-top-right-radius: calc(0.25rem - 1px);
border: 2px solid #4C4442 !important;
}
.auction-list .list-item{
width:50%;	
float: left;
}
.auction-list .item-desc h6,
.auction-list .item-desc p,
.auction-list .item-desc p a{
font-size: 14px;	
}
.auction-list .list-item .item-img{
width: 48px;
height: 48px;	
}
.auction-list .item-desc p{
	font-weight:bold;
}
.auction-list .item-desc p a{
font-weight:normal;
}
.auction-list .list-item .item-body{
background-color:#F3EFEC;
}
.item-buy-part{
top:78px;
}
.auction-list .item-img i.fa.fa-check-circle{
background: #fff !important;
line-height: 12px;
bottom: 4px !important;
}
content .profile-banner-section{
background-repeat: no-repeat;
background-size: cover;
width: 100%;
min-height: 220px;	
}
.author-profile-page content .profile-banner-section{
background-image: url(../images/creator-banner-bg.png);
background-position: top center;
}
.gallery-page content .profile-banner-section{
background-image: url(https://d7hftxdivxxvm.cloudfront.net/?resize_to=fill&src=https%3A%2F%2Fd32dm0rphc51dk.cloudfront.net%2FJk2II7-Towxi5cIJOp1r9Q%2Fwide.jpg&width=1440&height=600&quality=80);
background-position: center;
}
.pills-tablist .seacrh-bar i{
font-size: 15px !important;
top: 50%;
transform: translate(4px,-50%);
}
.card-box .card-foot-img{
width:26px;
}
.card-box .card-foot-price p,
.card-box .card-foot-right h6,
.card-box .make-offer-btn,
.profile-information .author-desc p{
font-size:14px;
}
.card-box .card-foot-right p{
font-size:12px;	
}
.profile-tabContent-col .card-box,
.profile-section .profile-information,
.profile-information .avatar-img img{
border-bottom-right-radius: calc(0.25rem - 1px);
border-bottom-left-radius: calc(0.25rem - 1px);
border-top-left-radius: calc(0.25rem - 1px);
border-top-right-radius: calc(0.25rem - 1px);
}
.profile-information .avatar-img{
max-width:120px;	
}
.profile-information .avatar-img i{
bottom: -4px;
right: -4px;
font-size: 28px !important;
padding: 3px;
background: #fff;
line-height: 24px;
}
.profile-section .profile-information,
.profile-information .avatar{
margin-top:-70px;	
}
.profile-section .profile-information{
top: 150px;	
}
.featured-galleries-slider .slider-box p,
.leading-artists-slider .slider-box p{
font-size:13px;
}
.featured-galleries-slider .owl-nav button span,
.trendings-artists-slider .owl-nav button span,
.leading-artists-slider .owl-nav button span{
font-size:0px;
background-repeat:no-repeat;
background-position:center;
background-size:100%;
width: 100%;
display: block;
height: 100%;
}
.featured-galleries-slider .owl-nav button.owl-prev span,
.trendings-artists-slider .owl-nav button.owl-prev span,
.leading-artists-slider .owl-nav button.owl-prev span{
background-image:url(../images/arrow-left.png)
}
.featured-galleries-slider .owl-nav button.owl-next span,
.trendings-artists-slider .owl-nav button.owl-next span,
.leading-artists-slider .owl-nav button.owl-next span{
background-image:url(../images/arrow-right.png)
}
#featured-galleries-slider .owl-nav button,
#trendings-artists-slider .owl-nav button,
#leading-artists-slider .owl-nav button{
width: 30px;
height: 70px;
background: rgba(255,255,255, .4);
border-radius: 0;
padding-left: 5px !important;
padding-right: 5px !important;
}
#featured-galleries-slider .owl-nav button:hover,
#trendings-artists-slider .owl-nav button:hover,
#leading-artists-slider .owl-nav button:hover{
background: rgba(255,255,255, .8);	
}
#trendings-artists-slider .owl-nav button{
width: 25px;
height: 60px;
}
#leading-artists-slider .owl-nav button{
width: 30px;
height: 80px;
}
.featured-galleries-slider.owl-carousel .owl-nav button.owl-prev,
.trendings-artists-slider.owl-carousel .owl-nav button.owl-prev{
    left: 30px;
}
.featured-galleries-slider.owl-carousel .owl-nav button.owl-next,
.trendings-artists-slider.owl-carousel .owl-nav button.owl-next{
   right: 30px;
}
.leading-artists-slider.owl-carousel .owl-nav button.owl-prev{
    left: 48px;
}
.leading-artists-slider.owl-carousel .owl-nav button.owl-next{
   right: 48px;
}
a.slider-box:hover .text-dark{
	color:#6C6663 !important;
}
.trendings-artists-slider a.slider-box .img-box{
height:180px;	
}
.leading-artists-content ul li span{
width:22px;
height:22px;
}
.leading-artists .leading-artists-slider{
background-image:url(../images/leading-artists-slider-bg.png);
background-position:center;
background-repeat:no-repeat;
background-size:cover;	
}
.leading-artists-slider .slider-box .img-box{
border:4px solid #fff;	
}
.authentication-form #sign-up,
.authentication-form #sign-in{
display:none;
}
.authentication-form #sign-up.show,
.authentication-form #sign-in.show{
display:block;
 animation: fade-in 1.5s;
}
.trendings-artists-slider p.worksNsale{
font-size:12px;	
}
.trendings-artists-slider p.dob{
font-size:14px;	
}
.profile-tabContent-col .card-box:hover .card-img img{
transform: scale(1.2);	
}
.profile-tabContent-col .card-box .card-img img{
transition: transform .2s;	
}
.profile-tabContent-col .card-box:hover{
box-shadow: 0px 0px 4px 1px #ccc;
}




footer .foot-col{
	background:#F3EFEC;
}
footer .foot-col.foot-col3{
	background:#ECE7E5;
}
footer .row{
min-height: 220px;
}
footer{
overflow:hidden;	
}
footer .foot-logo a{
max-width: 240px;
margin-left: auto;
}
footer .foot-logo{
z-index: 9;	
}
footer .foot-logo:after{
content: "";
min-height: 60px;
background: #fff;
right: -36px;
top: -13px;
display: block;
width: 100%;
position: absolute;
z-index: -9;
max-width: 320px;
}

@media screen and (min-width: 992px) and (max-width: 1088px){
	.pills-tablist .tablist-col .nav li a{
		font-size:20px;
	}
	.pills-tablist .nav a.active::after {
		bottom: -19px;
	}
}

@media screen and (max-width:991px){
	header #main-menu.main-menu{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		background: #000;
		padding: 30px 20px;
		z-index: 9999999;
		height: 100vh;
	}
	#main-menu.main-menu .navbar-nav .nav-link {
		color:#fff !important;
	}
	#main-menu.main-menu .menu-closeBtn{
		right: 25px;
		top: 25px;
	}
	.auction-list .list-item {
		width: 100%;
	}
	.pills-tablist .tablist-col{
		border-bottom:2px solid #4C4442; 
		margin-bottom:15px;
	}
	footer .foot-logo::after {
		min-height: 50px;
	}
	footer .foot-logo a {
		max-width: 160px;
	}
	
}

@media screen and (max-width:850px){
	#countdown .count-col .number{
		padding: 6px 10px;
	}

}

@media screen and (max-width:767px){
	.auction-list .list-item {
		width: 50%;
	}
	#countdown .count-col .number{
		padding: 8px 15px;
	}
	footer .foot-logo a {
		margin-left: 0;
	}
	footer .foot-logo::after {
		right: unset;
		left: -36px;
		max-width: 230px;
	}
}
@media screen and (max-width:550px){
	.auction-list .list-item {
		width: 100%;
	}
	.header .site-logo {
		max-width: 200px;
	}
}

@media screen and (max-width:400px){
	.item-desc-content .nav a{
		font-size:18px;	
	}
}

@media screen and (max-width:382px){
	#countdown .count-col .number{
		padding: 6px 10px;
	}
	
}

@media screen and (max-width:392px){
	.pills-tablist .tablist-col .nav li a{
		font-size:18px;
	}
	.pills-tablist .nav a.active::after {
		bottom: -19px;
	}
}





