@font-face {
  font-family: 'Noto Sans';
  src: url('../font/NotoSansDisplay-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Bold.ttf');
}
@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../font/Cormorant-Bold.oft');

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Cormorant-Bold';
}
body{
font-family: 'Noto Sans';
}
.accent-1,a:hover{
color:#6C6663 !important;
}
.accent-2{
color:#8D8884 !important;
}
.accent-3{
color:#AEAAA5 !important;
}
.accent-4{
color:#4C4442 !important;
}
.accent-5{
color:#F3EFEC !important;
}
.border-top{
border-top:2px solid #4C4442 !important;
}
.border-bottom{
border-bottom:2px solid #4C4442 !important;	
}
.foreground-bg{
background-color:#4C4442 !important;
}
.main-bg{
background-color:#F3EFEC !important;
}
.foreground-bg:hover,.foreground-bg:focus{
background-color:#4C4442 !important;
opacity:.8;
}
.main-bg:hover,.main-bg:focus{
background-color:#F3EFEC !important;
opacity:.8;
}
.btn-primary:focus,.btn:focus,button:focus{
box-shadow:none !important;
}
.container{
max-width:1300px !important;
}

header{
box-shadow: 0 0 10px rgba(3,0,16,.2);
border-bottom: 1px solid rgba(255,255,255,.1);
}
.nav-item a i.fa{
font-size:28px;
}
.nav-item a{
font-size:18px;
}

.breadcrumb-banner-section{
background-image:url(https://demos.codexcoder.com/labartisan/html/nft/enftomark-light/assets/images/banner/pg-header-banner.jpg);
background-position:center;
background-repeat:no-repeat;
background-size:cover;	
padding-top:150px;
padding-bottom:100px;
}
.item-details-section .item-thumb{
border-radius: 10px;
overflow: hidden;
}
.item-details-section .item-buy-part{
background: #F3EFEC;
padding: 35px 40px;
border-radius: 10px;
}
#countdown .count-col{
display:inline-block;
text-align:center;
margin-right:10px;
}
#countdown .count-col .number{
background: #4C4442;
padding: 10px 20px;
border-radius: 5px;	
color:#fff;
font-size:25px;
font-weight:bold;
margin-bottom:5px;
}
.item-details-section .item-price img{
width:20px;
}
.item-details-section .item-price h6{
font-size: 22px;
font-weight: bold;
}
.item-price h6 .dollar{
font-weight: normal;
font-size: 15px;
}
.item-desc-content .nav li a,.item-auction-btnArea button{
  font-family: 'Cormorant-Bold';
}
.item-desc-content .nav a.active{
position:relative;
}
.item-desc-content .nav a.active::before,
.item-desc-content .nav a.active::after{
content: "";
left: 50%;
transform: translateX(-50%);
border-style: solid;
position: absolute;
}
.item-desc-content .nav a.active::after{
border-width: 0 12px 15px 12px;		
border-color: transparent transparent #4C4442 transparent;
bottom: -19px;
}
.item-desc-content .nav a.active::before{	
border-width: 0 9px 11px 9px;
border-color: transparent transparent #fff transparent;
bottom: -19px;
z-index: 2;
}


footer{
background-image:url(../images/footer-bg.png);
background-repeat:no-repeat;
background-position:top center;
background-size:cover;
}
footer .footer-logo{
width: 100%;
max-width: 250px;
}