@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../font/Cormorant-Bold.oft');
}
@font-face {
font-family: 'Poppins';
  src: url('../font/Poppins-Regular.ttf');
}
body{
font-family: 'Poppins';
}
h1,h2,h3,h4,h5,h6,.authentication-tab a,.authentication-form form button{
  font-family: 'Cormorant-Bold';
}
a,p,li,span{
font-size:16px;
}
a{
text-decoration:none !important;
}
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
.color-accent-1,a:hover,.funds-muiTabs li a.active{
color:#6C6663 !important;
}
.color-accent-2{
color:#8D8884 !important;
}
.color-accent-3,
.nft-item-title a:hover,
.collection-inner p a:hover{
color:#AEAAA5 !important;
}
.color-accent-4,
.authentication-tab a{
color:#4C4442 !important;
}
.color-accent-5{
color:#F3EFEC !important;
}
.border-top{
border-top:2px solid #4C4442 !important;
}
.border-bottom{
border-bottom:2px solid #4C4442 !important;	
}
.foreground-bg,
.authentication-tab a.active,
.auction-list .list-item .item-body{
background-color:#4C4442 !important;
}
.main-bg{
background-color:#F3EFEC !important;
}
.foreground-bg:hover,.foreground-bg:focus{
background-color:#4C4442 !important;
opacity:.8;
}
.main-bg:hover,.main-bg:focus{
background-color:#F3EFEC !important;
opacity:.8;
}
.btn-primary:focus,.btn:focus,button:focus{
box-shadow:none !important;
}
.container{
max-width:1300px !important;
}
.w-40{
width:40% !important;	
}
.w-10{
width:10% !important;	
}


header{
box-shadow: 0 0 10px rgba(3,0,16,.2);
border-bottom: 1px solid rgba(255,255,255,.1);
background-color: rgba(241,241,241, .5); 
}
.nav-item a i.fa{
font-size:28px;
}

header #authentication-section,header #funds-maintenance{
background: rgba(0,0,0, .5);
}
#authentication-section .authentication-form,#funds-maintenance .funds-body{
overflow-y: auto;
max-width: 500px;	
background-color: #f1f1f1;
}
.authentication-tab a.active{
color:#fff !important;
}
.authentication-form form input,.withdraw-form form input{
padding: 12px 15px;
box-shadow: 0px 0px 8px 0px #ddd;
}
.authentication-form form input:focus,
.withdraw-form form input:focus{
border:1px solid #4C4442 !important;
}
.authentication-form form button,
.withdraw-form .form-button button{
padding: 12px 15px;	
}
.payment-gateway-list ul li a {
border-radius: 8px;
background-color: #4C4442;
padding: 6px 15px;
min-height: 59px;
}
.payment-gateway-list .gateway-img {
width: 36px;
}
.withdraw-form .amount-symbol span {
    right: 18px;
    transform: translate(0%,-50%);
    font-size: 15px;
}

.breadcrumb-banner-section{
background-image:url(https://demos.codexcoder.com/labartisan/html/nft/enftomark-light/assets/images/banner/pg-header-banner.jpg);
background-position:center;
background-repeat:no-repeat;
background-size:cover;	
padding-top:150px;
padding-bottom:100px;
}
.item-details-section .item-thumb{
border-radius: 10px;
overflow: hidden;
}
.item-details-section .item-buy-part{
background: #F3EFEC;
padding: 35px 40px;
border-radius: 10px;
}
#countdown .count-col{
display:inline-block;
text-align:center;
margin-right:10px;
}
#countdown .count-col .number{
background: #4C4442;
padding: 10px 20px;
border-radius: 5px;	
color:#fff;
font-size:25px;
font-weight:bold;
margin-bottom:5px;
}
.item-details-section .item-price img{
width:20px;
}
.item-details-section .item-price h6{
font-size: 22px;
font-weight: bold;
}
.item-price h6 .dollar{
font-weight: normal;
font-size: 15px;
}
.item-desc-content .nav li a,
.item-auction-btnArea button{
  font-family: 'Cormorant-Bold';
}
.item-desc-content .nav a.active{
position:relative;
}
.item-desc-content .nav a.active::before,
.item-desc-content .nav a.active::after{
content: "";
left: 50%;
transform: translateX(-50%);
border-style: solid;
position: absolute;
}
.item-desc-content .nav a.active::after{
border-width: 0 12px 15px 12px;		
border-color: transparent transparent #4C4442 transparent;
bottom: -19px;
}
.item-desc-content .nav a.active::before{	
border-width: 0 9px 11px 9px;
border-color: transparent transparent #fff transparent;
bottom: -19px;
z-index: 2;
}
.auction-list .list-item{
width:50%;	
float: left;
}
.auction-list .item-desc h6,
.auction-list .item-desc p,
.auction-list .item-desc p a{
font-size: 14px;	
}

.auction-list .list-item .item-img{
width: 48px;
height: 48px;	
}
#sign-up .form-input p a{

}












footer{
background-image:url(../images/footer-bg.png);
background-repeat:no-repeat;
background-position:top center;
background-size:cover;
}
footer .footer-logo{
width: 100%;
max-width: 250px;
}